/******************/
/*   Bottom Nav   */
/******************/
body {
  -webkit-transition: all 1s ease-in-out .25s;
}

#scroll-nav {
  float: left;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  width: 100%;
  position: relative;
  height: calc(100% + 30px);
  height: 100%;
  overflow: hidden;
}
  
  #scroll-nav ul {
    float: left;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #scroll-nav ul li {
    list-style-type: none;
    border-left: 1px solid #fff;
    position: relative;
    /*padding-top: 3%;*/
    height: 100%;
    overflow: hidden;
  }

  #scroll-nav ul li a {
    position: relative;
    display: block;
    height: 110%;
    margin-top: calc(50% + 280px);
    margin-top: 33%;
  }

  #scroll-nav ul li h5 {
    text-transform: uppercase;
    font-family: "brandon_grotesquethin";
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 89%;
    padding-left: 5%;
    margin: .75em 0;
    letter-spacing: .08em;
    line-height: 24px;
  }

  .top-title-line {
    margin: 3.3125em auto 0;
    display: table;
  }
  
  .bottom-title-line {
    margin: .625em auto 0;
    display: table;
  }

  #scroll-nav h4 {
    font-size: 24px;
    color: #fff;
    font-family: "brandon_grotesquemedium";
    text-transform: uppercase;
    text-align: center;
    /*float: left;*/
  }

  .nav {
    float: left;
    width: 187px;
    /*height: 540px;*/
    /*height: 640px;*/
    height: 100%;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .nav:hover {
    opacity: .7;
    /*padding: 0 10px;*/
    padding-top: 5px;
  }

 /* .nav:hover + li.purple-nav {
    width: 16px;
  }*/

  .nav h5 {text-transform: uppercase;}

  /****************************************/
  /* Scrolling Nav Individual Positioning */
  /****************************************/

  .mauve-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .mauve-nav {
    border-left: none;
  }

  .mauve-nav h4 {
    position: absolute;
    top: 154px;
    left: 48px;
  }

  .mauve-nav .icon {
    position: absolute;
    top: 215px;
    left: 37px;
  }

  .magenta-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }
  
  .magenta-nav h4 {
    position: absolute;
    top: 154px;
    left: 32px;
  }

  .magenta-nav .icon {
    position: absolute;
    top: 260px;
    left: 42px;
  }

  .crimson-nav h5 {
    width: 81% !important;
    margin-left: .6em !important;
  }

  .crimson-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .crimson-nav h4 {
    position: absolute;
    top: 154px;
    left: 33px;
  }

  .crimson-nav .icon {
    position: absolute;
    top: 237px;
    left: 51px;
  }

  .scarlet-nav .top-scroll-text {
    position: absolute;
    top: 30px;
    left: -9px;
  }

  .scarlet-nav h4 {
    position: absolute;
    top: 154px;
    left: 39px;
  }

  .scarlet-nav .icon {
    position: absolute;
    top: 263px;
    left: 28px;
  }

  .scarlet-nav h5 {
    width: 91.4% !important;
  }

  .poster-red-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .poster-red-nav h4 {
    position: absolute;
    top: 154px;
    left: 18px;
    width: 152px;
  }

  .poster-red-nav h5 {
    width: 66% !important;
    padding-left: 17% !important;
  }

  .poster-red-nav .icon {
    position: absolute;
    top: 240px;
    left: 36px;
  }

  .coral-nav .top-scroll-text {
    position: absolute;
    top: 29px;
    left: 9px;
  }

  .coral-nav h4 {
    position: absolute;
    top: 154px;
    left: 50px;
  }

  .coral-nav h5 {
    padding-left: 6% !important;
  }

  .coral-nav .icon {
    width: 70px;
    position: absolute;
    top: 235px;
    left: 52px;
  }

  .orange-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .orange-nav h4 {
    position: absolute;
    top: 154px;
    left: 39px;
  }

  .orange-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 46px;
  }

  .amber-nav .top-scroll-text {
    position: absolute;
    top: 25px;
  }

  .amber-nav h4 {
    position: absolute;
    top: 154px;
    left: 47px;
  }

  .amber-nav .icon {
    width: 95px;
    position: absolute;
    top: 245px;
    left: 44px;
  }

  .gold-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .gold-nav h4 {
    position: absolute;
    top: 154px;
    left: 54px;
  }

  .gold-nav h5 {
    width: 43% !important;
    padding-left: 30% !important;
  }

  .gold-nav .icon {
    width: 93px;
    position: absolute;
    top: 235px;
    left: 46px;
  }

  .yellow-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .yellow-nav h4 {
    position: absolute;
    top: 154px;
    left: 42px;
  }

  .yellow-nav .icon {
    width: 96px;
    position: absolute;
    top: 255px;
    left: 45px;
  }

  .lime-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .lime-nav h4 {
    position: absolute;
    top: 154px;
    left: 63px;
  }

  .lime-nav h5 {
    width: 83% !important;
    padding-left: 10% !important;
  }

  .lime-nav .icon {
    width: 96px;
    position: absolute;
    top: 255px;
    left: 45px;
  }

  .leaf-green-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }

  .leaf-green-nav h4 {
    width: 151px;
    position: absolute;
    top: 154px;
    left: 18px;
  }

  .leaf-green-nav .icon {
    width: 94px;
    position: absolute;
    top: 255px;
    left: 46px;
  }

  .sea-green-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .sea-green-nav h4 {
    width: 151px;
    position: absolute;
    top: 154px;
    left: 19px;
  }

  .sea-green-nav .icon {
    width: 130px;
    position: absolute;
    top: 229px;
    left: 26px;
  }

  .emerald-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .emerald-nav h4 {
    position: absolute;
    top: 154px;
    left: 35px;
  }

  .emerald-nav .icon {
    width: 75px;
    position: absolute;
    top: 245px;
    left: 56px;
  }

  .teal-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .teal-nav h4 {
    position: absolute;
    top: 154px;
    left: 59px;
  }

  .teal-nav h5 {
    width: 84% !important;
    padding-left: 9% !important;
  }

  .teal-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 43px;
  }

  .cyan-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .cyan-nav h4 {
    position: absolute;
    top: 154px;
    left: 60px;
  }

  .cyan-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 48px;
  }

  .sky-blue-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .sky-blue-nav h4 {
    width: 114px;
    position: absolute;
    top: 154px;
    left: 38px;
  }

  .sky-blue-nav h5 {
    width: 72% !important;
    padding-left: 15% !important;
  }

  .sky-blue-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 49px;
  }

  .ultramarine-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .ultramarine-nav h4 {
    position: absolute;
    top: 154px;
    left: 9px;
    letter-spacing: -.6px;
  }

  .ultramarine-nav h5 {
    width: 84% !important;
    padding-left: 8% !important;
  }

  .ultramarine-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 50px;
  }

  .violet-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .violet-nav h4 {
    position: absolute;
    top: 154px;
    left: 48px;
  }

  .violet-nav .icon {
    width: 93px;
    position: absolute;
    top: 245px;
    left: 47px;
  }

  .purple-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .purple-nav h4 {
    position: absolute;
    top: 154px;
    left: 45px;
  }

  .purple-nav .icon {
    width: 140px;
    position: absolute;
    top: 223px;
    left: 24px;
  }

   .home-nav .top-scroll-text {
    position: absolute;
    top: 24px;
  }

  .home-nav h5 {
    color: #000 !important; 
    font-weight: 700 !important;
    width: 82% !important;
    padding-left: 9% !important;
    font-family: 'brandon_grotesque_regularRg' !important;
  }

  .home-nav h4 {
    position: absolute;
    top: 154px;
    left: 55px;
    color: #000 !important;
  }

  .home-nav .icon {
    width: 120px;
    position: absolute;
    top: 235px;
    left: 35px;
  }


  .mauve-nav .bottom-scroll-text, 
  .magenta-nav .bottom-scroll-text, 
  .crimson-nav .bottom-scroll-text, 
  .scarlet-nav .bottom-scroll-text, 
  .poster-red-nav .bottom-scroll-text,  
  .coral-nav .bottom-scroll-text, 
  .orange-nav .bottom-scroll-text, 
  .amber-nav .bottom-scroll-text, 
  .gold-nav .bottom-scroll-text, 
  .yellow-nav .bottom-scroll-text, 
  .lime-nav .bottom-scroll-text, 
  .leaf-green-nav .bottom-scroll-text, 
  .sea-green-nav .bottom-scroll-text, 
  .emerald-nav .bottom-scroll-text, 
  .teal-nav .bottom-scroll-text, 
  .cyan-nav .bottom-scroll-text, 
  .sky-blue-nav .bottom-scroll-text, 
  .ultramarine-nav .bottom-scroll-text, 
  .violet-nav .bottom-scroll-text, 
  .purple-nav .bottom-scroll-text,
  .home-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  } 

  .mauve-nav {background: #b41e8e;}
  .magenta-nav {background: #ec008c;}
  .crimson-nav {background: #ea1378;}
  .scarlet-nav {background: #ed145b;}
  .poster-red-nav {background: #ea1b3b;}
  .coral-nav {background: #ed1c24;}
  .orange-nav {background: #f37021;}
  .amber-nav {background: #faa61a;}
  .gold-nav {background: #ffcb05;}
  .yellow-nav {background: #fff200;}
  .lime-nav {background: #50b848;}
  .leaf-green-nav {background: #00a651;}
  .sea-green-nav {background: #00a46b;}
  .emerald-nav {background: #00a99d;}
  .teal-nav {background: #00accd;}
  .cyan-nav {background: #00aeef;}
  .sky-blue-nav {background: #0089cf;}
  .ultramarine-nav {background: #0066b3;}
  .violet-nav {background: #2e3192;}
  .purple-nav {background: #6f2c91;}
  .home-nav {background: #f1f3f3;}
  


  .creators {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #a9a3a1;
    color: #fff;
    font-size: 14px;
    font-family: 'brandon_grotesquelight';
    padding-top: 9px; 


  }

  .creators p {
    display: inline;
    margin: 0 20px;

  }
 
  .creators:first-child {
    float: left;  
  }

  .created {
    float: right;
    /*margin-right: 15px;*/
  }


  #transition {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 10s ease-in-out 5s !important;
    transition: opacity 10s ease-in-out 5s !important;
  }

  .dan:hover {
      color: #000;
  }

  @media only screen and (max-width: 1200px) {
    body > * {
      display: none !important;
      -webkit-transition: all 1s ease-in-out .25s !important;
    }

    body {
      background: #ff0000;
    }

    #transition {
      width: 100%;
      display: table !important;
      opacity: 1;
      margin: 0 auto;
      text-align: center;
      font-size: 3em;
      transition: opacity 1s ease-in-out 5s !important;
      -webkit-transition: opacity 1s ease-in-out 5s !important;
      
    }
  }

#tablet {
  text-align: center;
  width: 100%;
}

.h1wrapper {
  width: 100%;
  background: #000;
}

#tablet h1 {
  text-transform: uppercase;
  margin: 0px auto;
  padding: 15px 0;
  width: 318px;
  min-width: 25%;
  background: #000;
  color: #fff;
  font-family: 'brandon_grotesque_regularRg';
  font-size: 30px;
}

#tablet p {
  font-family: 'brandon_grotesque_regularRg'; 
  text-align: center; 
  margin: 18px auto; 
  font-size: 17px;
}

.p1 {
  min-width: 37%; 
  width: 469px;
}

.p2 {
  min-width: 25%;
  width: 317px;
}

.p3 {
  min-width: 27%;
  width: 342px;
}





