/******************/
/*   Bottom Nav   */
/******************/

#scroll-nav {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
  
  #scroll-nav ul {
    float: left;
    padding: 0;
  }

  #scroll-nav ul li {
    list-style-type: none;
    border-left: 1px solid #fff;
    position: relative;
  }

  #scroll-nav ul li a {
    position: relative;
    display: block;
  }

  #scroll-nav ul li h5 {
    text-transform: uppercase;
    font-family: "brandon_grotesquethin";
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 89%;
    padding-left: 5%;
    margin: .75em 0;
    letter-spacing: .08em;
    line-height: 24px;
  }

  .top-title-line {
    margin: 3.3125em auto 0;
    display: table;
  }
  
  .bottom-title-line {
    margin: .625em auto 0;
    display: table;
  }

  #scroll-nav h4 {
    font-size: 24px;
    color: #fff;
    font-family: "brandon_grotesquemedium";
    text-transform: uppercase;
    text-align: center;
    float: left;
  }

  .nav {
    float: left;
    width: 177px;
    height: 540px;
    position: relative;
 /*   -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;*/
  }

  .nav:hover {
    /*width: 220px;*/
  }
  /****************************************/
  /* Scrolling Nav Individual Positioning */
  /****************************************/

  .mauve-nav .top-scroll-text {
    position: absolute;
    top: 15px;
  }
  
  .mauve-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  }

  .mauve-nav h4 {
    position: absolute;
    top: 154px;
    left: 42px;
  }

  .mauve-nav .icon {
    position: absolute;
    top: 225px;
    left: 64px;
  }

  .magenta-nav .top-scroll-text {
    position: absolute;
    top: 29px;
  }
  
  .magenta-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  }

  .magenta-nav h4 {
    position: absolute;
    top: 154px;
    left: 28px;
  }

  .magenta-nav .icon {
    position: absolute;
    top: 225px;
    left: 39px;
  }

  .crimson-nav h5 {
    width: 81% !important;
    margin-left: .6em !important;
  }

  .crimson-nav .top-scroll-text {
    position: absolute;
    top: 15px;
  }
  
  .crimson-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  }

  .crimson-nav h4 {
    position: absolute;
    top: 154px;
    left: 30px;
  }

  .crimson-nav .icon {
    position: absolute;
    top: 225px;
    left: 51px;
  }

  .scarlet-nav .top-scroll-text {
    position: absolute;
    top: 38px;
    left: 25px;
  }
  
  .scarlet-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  }

  .scarlet-nav h4 {
    position: absolute;
    top: 154px;
    left: 35px;
  }

  .scarlet-nav .icon {
    position: absolute;
    top: 225px;
    left: 28px;
  }

  .scarlet-nav h5 {
    width: 100% !important;
  }

  .poster-red-nav .top-scroll-text {
    position: absolute;
    top: 23px;
  }
  
  .poster-red-nav .bottom-scroll-text {
    position: absolute;
    top: 35px;
  }

  .poster-red-nav h4 {
    position: absolute;
    top: 154px;
    left: 13px;
    width: 152px;

  }

  .poster-red-nav .icon {
    position: absolute;
    top: 225px;
    left: 36px;
  }

  .mauve-nav {background: #b41e8e;}
  .magenta-nav {background: #ec008c;}
  .crimson-nav {background: #ea1378;}
  .scarlet-nav {background: #ed145b;}
  .poster-red-nav {background: #ea1b3b;}

  .creators {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #a9a3a1;
    color: #fff;
    font-size: 14px;
    font-family: 'brandon_grotesquelight';
  }

  .creators p {
    display: inline;
    margin: 0 5px;
  }
 
  .creators:first-child {
    float: left;  
  }

  .created {
    float: right;

  }