/**************/
/* Background */
/**************/

  body {background: #e3f3f1; overflow-y: scroll;}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.scrollsections {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

  .main-section {
    padding: 0;
    margin: 0;
    overflow: visible;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    float: left;
    /*height: 600px;*/
    height: 100%;
  } 
  
/***********************/
/*   Side Navigation   */
/***********************/

.left-nav, .right-nav {
  height: auto;  
  width: 7.5%;  
  /*border: 1px solid #fff;*/
  font-size: 24px;
  color: #fff;
  font-family: "brandon_grotesquemedium";
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  margin: 0;
  overflow: hidden;
}

.left-nav {
  background: #00a46b;
  float: left;
}

.right-nav {
  background: #00accd;
  float: right;
}

.left-nav a, .right-nav a {
  display: block;
  height: 100%;
}

  .left-nav h5, .right-nav  h5 {
    text-transform: uppercase;
    font-family: "brandon_grotesquethin";
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 150px;
    /*padding-left: 5%;*/
    margin: .75em auto -5px;
    letter-spacing: .08em;
    line-height: 24px;
  }

  .left-nav img, 
  .right-nav img, 
  .left-nav h4, 
  .right-nav h4,
  .left-nav h5,
  .right-nav h5 {
    display: none;
    -webkit-transition: all .2 linear .9;
    overflow: visible;
  }

.left-nav .icon {
  margin-top: 19px;
  width: 60%;
}

.right-nav-icon {
  margin-top: 15px;
  width: 45%;
}

/***********************/
/* Main Middle Section */
/***********************/

.main-middle-section {
  float: left;
  width: 84.9%;
  overflow: hidden;
  margin-left: .03%;
  height: 90%;
}

/***********************/
/* Title and Bourges # */
/***********************/

  .title {
    font-family: 'brandon_grotesque_regularRg';
    font-size: 80pt;
    text-transform: uppercase;
    color: #00a99d;
    margin: 30px 0 20px 1%;
    float: left;
    line-height: 88px;  
    letter-spacing: -4px;
  }

  .bourgesBlock {
    position: relative;
    float: right;
    color: #00a99d;
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    margin: 45px 110px 0 0;
    line-height: 1;
  }

  .number {
    font-family: 'brandon_grotesque_regularRg';
    position: absolute;
    top: 37px;
    left: 88px;
    display: inline-block;
    margin: 0;
    
  }

  .numeral {
    /*position: absolute;*/
    font-size: 60pt;
    margin: 0;
    display: inline-block;
  }

  .bourges {
    font-family: 'brandon_grotesque_regularRg';
    position: absolute;
    top: 37px;
    right: 85px;
    margin: 0;
    margin-bottom: 14px;
    display: inline-block;
  }


/***********************/
/*   Percentage Bar    */
/***********************/

  .percentageBar {
    float: left;
    width: 100%;
  }
  .percentageBar * {  
    font-family: 'brandon_grotesque_regularRg';
    font-size: 11pt;  
    line-height: 39px;
    text-align: center;
    float:left;
    display: block;
    width: 10%;
    color: #fff;
    height: 2.5em;
  }

  .top-border {
    width: 100% !important;
    height: 6px;
    background: #00a99d;
  }

  .ninety {background: #00afa5;}
  .eighty {background: #00b5ad;}
  .seventy {background: #2dbdb6;}
  .sixty {background: #5bc4bf;}
  .fifty {background: #7accc8;}
  .forty {background: #96d5d2;}
  .thirty {background: #b0dfdb;}
  .twenty {background: #c9e9e6;}
  .ten {background: #e3f3f1;}
  .five {background: #eff8f5;}



/***********************/
/*   Description Bar   */
/***********************/

  .desc-bar {
    position: relative;
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    height: 6.875em;
    text-align: center;
    background: url(../img/emerald/Colorbars_Emerald.png);
    display: block;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  
  .desc-bar.collapsed {
    height: 24px;
    overflow-y: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .desc-text {
    /*float: left;*/
    margin: 0 auto;
    margin-top: .85em;
    /*display: block;*/
    font-family: 'brandon_grotesquethin';
    font-size: 26pt;
    color: #fff;
  }

  .line1 {
    position: absolute;
    top: 20px;
    left: 24.5%;
    margin: 0 auto;
    display: none;
  }

   .line2 {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 24.5%;
    display: none;
  }

.down-arrow {
  position: absolute;
  bottom: 6px;
  left: 300px;
  width: 0; 
  height: 0;
  border-top: 18px solid #e3f3f1;
  border-left: 16px solid transparent; 
  border-right: 16px solid transparent; 
}

  .arrow {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }

  .arrow-position {
    bottom: -1px;
  }

/***********************/
/*     Icon Section    */
/***********************/

  /***** Top ******/
  .icons {
    background: #e9f5f4;
    /*width: 17.4%;*/
    width: 187px;
    float: left;
    font-family: 'brandon_grotesque_regularRg';
    font-size: 9.83pt;
    color: #00a99d;
    text-transform: uppercase;
    margin: 20px 20px 20px 5px;
  }

  .top-icons {
    margin: 20px auto 25px;
    display: table;
    text-align: center; 
  }

    .top-icons img {
      width: 89%;
    }

  .top-right-iconset,
  .top-left-iconset,
  .bottom-left-iconset, 
  .bottom-right-iconset {
    position: relative; 
    float: left;
    width: 44%;
  }

  .top-right-iconset {margin-bottom: 1em;}
  
  .top-left-iconset,
  .bottom-left-iconset {
    margin-left: 4%;
  }

  .top-right-iconset,
  .bottom-right-iconset {
    margin-left: 10px;
  }

  .left-text1 {
    margin-left: -5px;
  }

  .right-text2 {
    width: 101%;
  }

  /***** Bottom ******/

  .bottom-icons {
    margin: -20px 0 0 10px;
    text-align: center;
    line-height: 1.7;
    color: #fff;
    font-family: 'brandon_grotesqueblack';
    font-size: 30px;
  }

  .left-sqs {
    width: 71%;
    float: left;
  }

  .upper-left-sq,
  .upper-right-sq,
  .bottom-left-sq,
  .bottom-right-sq {
    float: left;
    height: 57px;
    width: 57px;
    border-radius: 5px;
  }

  .upper-left-sq {
    margin: 0 9px 7px 0;
    background: #2e3192;
  }
  

  /**** CMYK Colors ****/

  .upper-right-sq * {
    width: 50%;
    float: left;
  }

  .upper-right-sq {
    margin: 0 0 7px;
    font-size: 16px;
    line-height: 1.813;

  }

  .sm-sq1 {background: #00aeef; border-top-left-radius: 5px;}
  .sm-sq2 {background: #fff200; border-top-right-radius: 5px;}
  .sm-sq3 {background: #ec008c; border-bottom-left-radius: 5px;}
  .sm-sq4 {background: #231f20; border-bottom-right-radius: 5px;}

  .bottom-left-sq {
    margin: 0 9px 0 0;
    background: #ed145b;
  }

  .bottom-right-sq {
    background: #ffcb05;
  }

  .right-col {
    float: left;
    margin: 0 0 0 3px;
  }  

  .right-col * {
    height: 36.6px;
    width: 36.6px;
    border-radius: 5px;
    margin-bottom: 4.5px;
  }

  /**** Primary Colors ****/

  .a, .b, .c {
    line-height: 1.9;
    font-size: 0.7em;
    font-family: 'brandon_grotesquebold';
  }

  .a {
    background: #ff0000;
    margin-bottom: 6.5px;
  }

  .b {
    background: #00ff00;
  }

  .c {
    background: #0000ff;
  }

/***********************/
/*  Main Text Section  */
/***********************/

  .main-text {
    float: left;
    width: 57%;
    color: #00a99d;
    font-size: 1.2em;
    font-family: 'brandon_grotesquelight';
    line-height: 2;
    margin-top: 7px;
    text-align: justify;
  }

  .main-text > p {
    margin-bottom: 20px;
  }

/******************************/
/*  Infographic on Far Right  */
/******************************/

.right-infographic {
  float: left;
  /*width: 21%;*/
  /*width: 362px;*/
  margin: 20px 15px 20px 25px;
  text-align: center;
}
.right-infographic h1 {
  font-family: 'brandon_grotesquebold';
  font-size: 23px;
  color: #fff;  
  text-transform: uppercase;
  /*text-align: center;*/
  margin: 10px 10px -10px;
}

.right-infographic span {
  font-family: 'brandon_grotesquebold';
  color: #fff;  
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: -15px;
  display: block;
}

.right-infographic p {
  margin: 4px 0 10px 13%;
  width: 74%;
  font-size: 19px;
  color: #fff;
  font-family: 'brandon_grotesquelight';
  text-align: center;
}

.right-infographic .linetop {

}

.right-infographic .linebottom {
  margin-bottom: 10px;
}

.right-infographic .bottom-img-cultured {
  width: 77%;
  margin: 8% 0 8%;
}
/***********************/
/*  Bottom Page Break  */
/***********************/

.page-break {
  border-bottom: 2px solid #00a99d;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  margin-bottom: 0px; 
  margin-top: -16px;  
}

  .page-break img {
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 72px;
    background-color: #e3f3f1;
    position: absolute;
    left: 47.2%;
    top: 10px;

  }


/***********************/
/*    Media Queries    */
/***********************/

@media only screen and (max-width: 1680px) {
  .main-text {
    width: 65%;
  }
}

@media only screen and (max-width: 1630px) {
  .main-text {
    width: 64%;
  }
}

@media only screen and (max-width: 1575px) {
  .main-text {
    width: 63%;
  }
}

@media only screen and (max-width: 1533px) {
  .main-text {
    width: 62%;
  }
}

@media only screen and (max-width: 1493px) {
  .main-text {
    width: 60%;
  }
}

@media only screen and (max-width: 1419px) {
  .main-text {
    width: 58%;
  }
}

@media only screen and (max-width: 1375px) {
  .main-text {
    width: 57%;
  }
}

@media only screen and (max-width: 1345px) {
  .main-text {
    width: 56%;
  }
}

@media only screen and (max-width: 1291px) {
  .main-text {
    width: 55%;
  }
}

@media only screen and (max-width: 1161px) {
  .main-text {
    width: 36%;
  }
}

@media only screen and (max-width: 1143px) {
  .main-text {
    width: 35%;
  }
}

@media only screen and (max-width: 1125px) {
  .main-text {
    width: 34%;
  }
}

@media only screen and (max-width: 1109px) {
  .main-text {
    width: 33%;
  }
}

@media only screen and (max-width: 1094px) {
  .main-text {
    width: 32%;
  }
}

@media only screen and (max-width: 1076px) {
  .main-text {
    width: 31%;
  }
}

@media only screen and (max-width: 1061px) {
  .main-text {
    width: 30%;
  }
}

@media only screen and (max-width: 1049px) {
  .main-text {
    width: 29%;
  }
}


