body {
  background: url(../img/home/diagonalbg.jpg) repeat;
}

.main-wrap {
  margin: 0 auto;
  width: 960px;
  border: 1px solid #000;
  overflow: hidden;
}

/**************/
/* SECTION 1  */
/**************/

  .section1 {
    margin-top: 170px;
    /*border: 1px solid #000;*/
  }
  .eye {
    float: left;
  }
  .text-wrap {
    float: left;
    margin-left: 6%;
  }
  .everything {
    font-size: 65pt;
    font-family: 'brandon_grotesquethin';
    text-transform: uppercase;
    margin: 0;
  }
  .about {
    text-transform: uppercase;
    font-size: 55pt;
    font-family: 'brandon_grotesquethin'; 
    margin: 0;
    line-height: 35px;
  }
  .color {
    text-transform: uppercase;
    color: #233d69;
    font-size: 124pt;
    font-family: 'brandon_grotesqueblack';
    margin: 0;
    letter-spacing: -10px;
    line-height: 176px;
  }
  .learned {
    text-transform: uppercase;
    font-size: 23.92pt;
    font-family: 'brandon_grotesquethin';
    line-height: 0px;
    margin: 0 0 4.25em;
  }   
  .down-arrows {
    width: 14%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

/**************/
/* SECTION 2  */
/**************/

.section2 {
  margin-top: 100px;
  margin-bottom: 223px;
}


.sylvia-title, .bourges-title {
  float: right;
  font-family: 'brandon_grotesquebold';
  font-size: 41px;
  margin-right: 70px;
}

.sylvia-img, .bourges-img {
  float: right;
  margin-top: -12px;
}

.sylvia-text, .bourges-text {
  float: right;
  font-size: 18px;
  font-family: 'brandon_grotesque_regularRg';
  width: 43%;
  line-height: 1.7;
  letter-spacing: 0.03em;
  word-spacing: 1.473px;
  text-align: justify;
  margin: -12px 70px 0 95px;
}

.bourges-text {
  font-size: 22px;
  line-height: 1.7;
  word-spacing: -3px;
}

.bold {
  font-family: 'brandon_grotesqueblack';
  letter-spacing: 1.1px;

}

.y {
  margin-right: 6px;
}

.g {
  margin-left: -4px;
}

.n {
  margin-right: 1px;
}

/**************/
/* SECTION 3  */
/**************/

.color-text {
  width: 31.25%;
}

.primary, .secondary, .tertiary {
  font-size: 18px;
  font-family: 'brandon_grotesque_regularRg';
}



