/**************/
/* Background */
/**************/

 body {background: #fde9f2;}


/***********************/
/* Title and Bourges # */
/***********************/

  .title {
    font-family: 'brandon_grotesque_regularRg';
    font-size: 80pt;
    text-transform: uppercase;
    color: #ec008c;
    margin: 30px 0 20px 1%;
    float: left;
    line-height: 88px;  
  }

  .bourgesBlock {
    position: relative;
    float: right;
    color: #ec008c;
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    margin: 45px 110px 0 0;
    line-height: 1;
  }

  .number {
    position: absolute;
    top: 37px;
    left: 55px;
    display: inline-block;
    margin: 0;
    
  }

  .numeral {
    /*position: absolute;*/
    font-size: 60pt;
    margin: 0;
    display: inline-block;
  }

  .bourges {
    position: absolute;
    top: 37px;
    right: 55px;
    margin: 0;
    margin-bottom: 14px;
    display: inline-block;
  }


/***********************/
/*   Percentage Bar    */
/***********************/

  .percentageBar {
    float: left;
    width: 100%;
  }
  .percentageBar * {  
    font-family: 'brandon_grotesque_regularRg';
    font-size: 14pt;  
    line-height: 47px;
    text-align: center;
    float:left;
    display: block;
    width: 10%;
    color: #fff;
    height: 2.5em;
  }

  .ninety {background: #ee3d96;}
  .eighty {background: #ef5ba1;}
  .seventy {background: #f173ac;}
  .sixty {background: #f173ac;}
  .fifty {background: #f49abf;}
  .forty {background: #f6adcd;}
  .thirty {background: #f8c1d6;}
  .twenty {background: #fad5e5;}
  .ten {background: #fde9f1;}
  .five {background: #fef3f7;}

/***********************/
/*   Description Bar   */
/***********************/

  .desc-bar {
    position: relative;
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    height: 6.875em;
    text-align: center;
    background: url(../img/magenta/magenta-bg.png);
  }

  .desc-text {
    /*float: left;*/
    margin: 0 auto;
    margin-top: 0.625em;
    /*display: block;*/
    font-family: 'brandon_grotesquethin';
    font-size: 30pt;
    color: #fff;
  }

  .line1 {
    position: absolute;
    top: 20px;
    left: 28.25%;
    margin: 0 auto;
  }

   .line2 {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 28.25%
  }

/***********************/
/*     Icon Section    */
/***********************/

  /***** Top ******/
  .icons {
    background: #fdedf5;
    width: 17.4%;
    float: left;
    font-family: 'brandon_grotesque_regularRg';
    font-size: 9.83pt;
    color: #b41e8e;
    text-transform: uppercase;
    margin: 20px 20px 20px 5px;
  }

  .top-icons {
    margin: 20px auto 25px;
    display: table;
    text-align: center; 
  }

  .top-icon1,
  .top-icon3 {
    margin-right: 7px;
  }

  .icon-text {
    margin: 0px 5px 10px 5px !important;
    display: inline-block;
    width: 40%;
  }

  .left-text1 {margin-left: 8px !important; position: relative; top: -18px; left: -3px;}
  /*.right-text1 {margin-left: 27px !important;}*/
  .left-text2 {margin-left: -13px !important; position: relative; top: -18px; left: 17px;}
  .right-text2 {margin-left: 22px !important; text-align: center;}

  /***** Bottom ******/

  .bottom-icons {
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 0;
    color: #fff;
    font-family: 'brandon_grotesqueblack';
    font-size: 30px;
  }

  .left-sqs {
    width: 71%;
    float: left;
  }

  .upper-left-sq,
  .upper-right-sq,
  .bottom-left-sq,
  .bottom-right-sq {
    float: left;
    height: 65px;
    width: 66px;
    border-radius: 5px;
  }

  .upper-left-sq {
    margin: 0 9px 7px 0;
    background: #f37021;
  }
  

  /**** CMYK Colors ****/

  .upper-right-sq * {
    width: 50%;
    float: left;
  }

  .upper-right-sq {
    margin: 0 0 7px;
    font-size: 19px;
    line-height: 1.7;

  }

  .sm-sq1 {background: #00aeef; border-top-left-radius: 5px;}
  .sm-sq2 {background: #fff200; border-top-right-radius: 5px;}
  .sm-sq3 {background: #ec008c; border-bottom-left-radius: 5px;}
  .sm-sq4 {background: #231f20; border-bottom-right-radius: 5px;}

  .bottom-left-sq {
    margin: 0 9px 0 0;
    background: #00a651;
  }

  .bottom-right-sq {
    background: #0089cf;
  }

  .right-col {
    float: left;
    margin: 0 0 0 3px;
  }  

  .right-col * {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    margin-bottom: 4.5px;
  }

  /**** Primary Colors ****/

  .a {
    background: #ff0000;
    margin-bottom: 6.5px;
  }

  .b {
    background: #00ff00;
  }

  .c {
    background: #0000ff;
  }

/***********************/
/*  Main Text Section  */
/***********************/

  .main-text {
    float: left;
    width: 55%;
    color: #b41e8e;
    font-size: 20px;
    font-family: 'brandon_grotesquelight';
    line-height: 2.2;
  }

/******************************/
/*  Infographic on Far Right  */
/******************************/

.right-infographic {
  float: left;
  background: #707070;
  width: 21%;
  height: 439px;
  margin: 20px 15px 20px 25px;
  text-align: center;
}
.right-infographic h1 {
  font-family: 'brandon_grotesquebold';
  font-size: 27px;
  color: #fff;  
  text-transform: uppercase;
  /*text-align: center;*/
  margin: 20px 10px 0px;
}
  .right-infographic h1 span {
    font-size: 35px;
  }

.right-infographic p {
  margin: 0px 0 10px 17%;
  width: 65%;
  font-size: 15px;
  color: #fff;
  font-family: 'brandon_grotesquelight';
  text-transform: uppercase;
  text-align: left;
}

.right-infographic p.top-para {
  margin: 0 -4px 0 49px;
}

.right-infographic p.bottom-para {
  margin: 29px 0 0 49px;
}

.right-infographic img {
  margin: 10px 0 10px 0%;
}
  
  .right-infographic img.top-line {
    margin: 45px 0 25px;
  }

  .right-infographic img.bottom-line {
    margin-top: 45px;
  }

