/**************/
/* Background */
/**************/

 body {background: #fee8e4;}


/***********************/
/* Title and Bourges # */
/***********************/

  .title {
    font-family: 'brandon_grotesque_regularRg';
    font-size: 80pt;
    text-transform: uppercase;
    color: #ed145b;
    margin: 30px 0 20px 1%;
    float: left;
    line-height: 88px;  
  }

  .bourgesBlock {
    position: relative;
    float: right;
    color: #ed145b;
    font-family: 'brandon_grotesqueblack';
    text-transform: uppercase;
    margin: 45px 110px 0 0;
    line-height: 1;
  }

  .number {
    position: absolute;
    top: 37px;
    left: 55px;
    display: inline-block;
    margin: 0;
    
  }

  .numeral {
    /*position: absolute;*/
    font-size: 60pt;
    margin: 0;
    display: inline-block;
  }

  .bourges {
    position: absolute;
    top: 37px;
    right: 55px;
    margin: 0;
    margin-bottom: 14px;
    display: inline-block;
  }


/***********************/
/*   Percentage Bar    */
/***********************/

  .percentageBar {
    float: left;
    width: 100%;
  }
  .percentageBar * {  
    font-family: 'brandon_grotesque_regularRg';
    font-size: 14pt;  
    line-height: 47px;
    text-align: center;
    float:left;
    display: block;
    width: 10%;
    color: #fff;
    height: 2.5em;
  }

  .top-border {
    width: 100% !important;
    height: 6px;
    background: #ed145b;
  }

  .ninety {background: #ee3e82;}
  .eighty {background: #f05a8d;}
  .seventy {background: #f17299;}
  .sixty {background: #f386a5;}
  .fifty {background: #f599b1;}
  .forty {background: #f7acbf;}
  .thirty {background: #f9c0cd;}
  .twenty {background: #fbd4dc;}
  .ten {background: #fde8eb;}
  .five {background: #fef2f4;}

/***********************/
/*   Description Bar   */
/***********************/

  .desc-bar {
    position: relative;
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    height: 6.875em;
    text-align: center;
    background: url(../img/scarlet/scarlet-bg.png);
    display: block;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  
  .desc-bar.collapsed {
    height: 24px;
    overflow-y: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .desc-text {
    /*float: left;*/
    margin: 0 auto;
    margin-top: 0.625em;
    /*display: block;*/
    font-family: 'brandon_grotesquethin';
    font-size: 30pt;
    color: #fff;
  }

  .line1 {
    position: absolute;
    top: 20px;
    left: 28.25%;
    margin: 0 auto;
  }

   .line2 {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 28.25%
  }

.down-arrow {
  position: absolute;
  bottom: 6px;
  left: 300px;

}

  .arrow {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipH";
  }

  .arrow-position {
    bottom: -1px;
  }

/***********************/
/*     Icon Section    */
/***********************/

  /***** Top ******/
  .icons {
    background: #feedee;
    width: 17.4%;
    float: left;
    font-family: 'brandon_grotesque_regularRg';
    font-size: 9.83pt;
    color: #b41e8e;
    text-transform: uppercase;
    margin: 20px 20px 20px 5px;
  }

  .top-icons {
    margin: 20px auto 25px;
    display: table;
  }

  .top-icon1,
  .top-icon3 {
    margin-right: 7px;
  }

  .icon-text {
    margin: 0px 5px 10px 5px !important;
    display: inline-block;
    margin: 0;
    /*width: 40%;*/
  }

  .left-text1 {margin-left: 8px !important;}
  .right-text1 {margin-left: 27px !important;}
  .left-text2 {margin-left: 6px !important;}
  .right-text2 {margin-left: 25px !important;}

  /***** Bottom ******/

  .bottom-icons {
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 0;
    color: #fff;
    font-family: 'brandon_grotesqueblack';
    font-size: 30px;
  }

  .left-sqs {
    width: 71%;
    float: left;
  }

  .upper-left-sq,
  .upper-right-sq,
  .bottom-left-sq,
  .bottom-right-sq {
    float: left;
    height: 65px;
    width: 66px;
    border-radius: 5px;
  }

  .upper-left-sq {
    margin: 0 9px 7px 0;
    background: #faa61a;
  }
  

  /**** CMYK Colors ****/

  .upper-right-sq * {
    width: 50%;
    float: left;
  }

  .upper-right-sq {
    margin: 0 0 7px;
    font-size: 19px;
    line-height: 1.7;

  }

  .sm-sq1 {background: #00aeef; border-top-left-radius: 5px;}
  .sm-sq2 {background: #fff200; border-top-right-radius: 5px;}
  .sm-sq3 {background: #ec008c; border-bottom-left-radius: 5px;}
  .sm-sq4 {background: #231f20; border-bottom-right-radius: 5px;}

  .bottom-left-sq {
    margin: 0 9px 0 0;
    background: #00a76d;
  }

  .bottom-right-sq {
    background: #0089cf;
  }

  .right-col {
    float: left;
    margin: 0 0 0 3px;
  }  

  .right-col * {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    margin-bottom: 4.5px;
  }

  /**** Primary Colors ****/

  .a {
    background: #ff0000;
    margin-bottom: 6.5px;
  }

  .b {
    background: #00ff00;
  }

  .c {
    background: #0000ff;
  }

/***********************/
/*  Main Text Section  */
/***********************/

  .main-text {
    float: left;
    width: 55%;
    color: #b41e8e;
    font-size: 20px;
    font-family: 'brandon_grotesquelight';
    line-height: 2.2;
  }

/******************************/
/*  Infographic on Far Right  */
/******************************/

.right-infographic {
  float: left;
  background: #8c0f37;
  width: 21%;
  margin: 20px 15px 20px 25px;
  text-align: center;
}
.right-infographic h1 {
  font-family: 'brandon_grotesquebold';
  font-size: 27px;
  color: #fff;  
  text-transform: uppercase;
  /*text-align: center;*/
  margin: 20px 10px 0px;
}
  .right-infographic h1 span {
    font-size: 35px;
  }

.right-infographic p {
  margin: 0px 0 10px 17%;
  width: 65%;
  font-size: 20px;
  color: #fff;
  font-family: 'brandon_grotesquelight';
}

.right-infographic img {
  margin: 10px 0 10px 0%;
}

.right-infographic img.bottom-img {
  margin: 30px auto 40px;
  display: table;
}
